{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Blog</title>
    <link
      href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900&family=Inter:400,500,600,700&display=swap"
      rel="stylesheet"
    />
    <link href="{% static 'css/blog.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <header class="blog-header py-4 px-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="blog-header-logo" href="/">Django Blog</a>
          </div>
          <div class="col-8 d-flex justify-content-end align-items-center">
            <div class="header-search-wrapper mr-3">
              <form action="{% url 'search' %}" method="GET" class="header-search-form">
                <input 
                  type="text" 
                  name="keyword" 
                  class="header-search-input" 
                  placeholder="Search..." ˝
                  value="{{ request.GET.q }}"
                />
                <button type="submit" class="btn btn-primary">Go</button>
              </form>
            </div>
            <a class="btn btn-sm btn-login mr-2" href="#">Login</a>
            <a class="btn btn-sm btn-register" href="#">Register</a>
          </div>
        </div>
      </header>
      <div class="nav-scroller py-2 mb-4">
        <nav class="nav d-flex justify-content-start category-nav">
          {% for category in categories %}
          <a
            class="category-link"
            href="{% url 'posts_by_category' category.id %}"
            >{{ category.category_name }}</a
          >
          {% endfor %}
        </nav>
      </div>

      {% block content %}Content{% endblock %}
      <footer class="blog-footer">
        <div class="container">
          <p class="footer-text">
            First Django premium project with ❤️ by
            <a href="#" class="footer-link">Aman Jha</a>
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
